*,
::after,
::before {
  box-sizing: border-box;
}
.canvas {
  display: table;
  max-width: 640px;
  max-height: 100vw;
  width: 100vw;
  height: 640px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
}

/* https://stackoverflow.com/questions/9858154/html-divs-grid-unwanted-space-between-rows */

.pixel:hover {
  border: 1px solid #e5e5e5;
}
.grid-container {
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . .";
}

/* 340 X 340 menos de 400px*/
